body{
  background-color: #008000;
}

[data-role='page']{
	height:100%;
}

[data-role="content"]{
	height:100%;
}

.ui-mobile, .ui-mobile .ui-page {
    min-height: 100% !important;
}
.ui-page {
	width:100%;
}

#timeTable{
	padding-top: 20%;
	padding-left: 10%;
	width:40%;
}

#stationImage{
	padding-top: 20%;
	padding-left: 5%;
	width:40%;
}

#searchImage{
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

#mapContainer{
	height:35%;
}

#submitSearch{
	width: 50%;
	margin-left: auto;
	margin-right: auto;

}